/*CSS specific to this Website*/
/*----------------------------*/
/*Background Color */
html {
    background:#1d1e1f;
}
  body {
    margin:0 auto;
    font-family:"Times";
    text-align: center;
    color: white;
}

/* Edits attributes of a hyperlink */
  a{
    color: #512DC8;
  }
  a:hover {
    color: #C82D40;
  }


/* Attributes of Headers*/
  h1{
    color: white;
    letter-spacing: 5px;
    text-align: center;
    border: Solid White 2px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 0px;
    }
/* Edits of Classes*/
  .Return-Main {
    text-align: right;
}
  .FPic {
    border: black solid 8px;
    border-radius:100%;
    max-width: 400px
}
  .FPic2 {
    border: black solid 2px;
    border-radius:100%;
    max-width: 40px;
    margin-left:80px;
    margin-right:80px;
}
  .FPic2:hover {
    transform: scale(2.0) rotate(10deg);
}
  .list-fix {
    text-align: left;
}

/*Changes specific to this page*/

/*Background Color */
/* Edits attributes of a hyperlink */
/* Attributes of Headers*/
/* Edits of Classes*/