/*CSS specific to this Website*/
/*----------------------------*/
/*Background Color */
html {
    background:#1d1e1f;
    font-size: 22px;
}
  body {
    margin:0 auto;
    font-family:"Times";
    text-align: center;
    color: white;
}

/* Edits attributes of a hyperlink */
  a{
    color: skyblue;
  }
  a:hover {
    color: #C82D40;
  }


/* Attributes of Headers*/
  h1{
    color: white;
    letter-spacing: 5px;
    text-align: center;
    border: skyblue 4px solid;
    border-radius: 10px;
    padding: 20px;
    margin-top: 0px;
    }
    h2{
      color: white;
      letter-spacing: 5px;
      text-align: center;
      border: Solid skyblue 2px;
      border-radius: 4px;
      padding: 10px;
      margin-top: 0px;
      }
/* Edits of Classes*/
  .Return-Main {
    text-align: right;
}
  .FPic {
    border: black solid 8px;
    border-radius:100%;
    max-width: 400px
}
  .FPic2 {
    border: black solid 2px;
    border-radius:100%;
    max-width: 40px;
    margin-left:80px;
    margin-right:80px;
    margin-bottom:5px;
}
  .FPic2:hover {
    transform: scale(2.0) rotate(10deg);
}
  .list-fix {
    text-align: left;
}
  .hr-dash {
    border: dashed skyblue 1px;
  }
/*Changes specific to this page*/

/*Background Color */
/* Edits attributes of a hyperlink */
/* Attributes of Headers*/
/* Edits of Classes*/