/*Changes specific to this page*/

/*Background Color */
/* Edits attributes of a hyperlink */
/* Attributes of Headers*/
h2{
    background-color: grey;
    padding: 5px;  
  }
  
h3{
    text-transform:uppercase;
    
  }
/* Edits of Classes*/
.Profile-Image {
   border: solid 4px black;
   border-radius: 50%;
   max-width: 150px;
   max-height:150px;
}
.Return-Main {
   text-align: right;
}
