/*Changes specific to this page*/
/*Background Color */
/* Edits attributes of a hyperlink */
/* Attributes of Headers*/
h1 {
    border:royalblue solid 4px;
}
h2 {
    border:royalblue solid 0px;
}
/* Edits of Classes*/
.FPic3 {
    max-width:120px;
    margin-bottom: 20px;
}
.FPic4 {
    max-width:300px;
    margin-bottom: 20px;
}
.example-divider {

    border:aquamarine 1px dashed;

}
.example-image-format {

    border:red 8px solid;

}
.example-color {
    color:greenyellow;
}
.text-align-left {
    text-align: left;
}